############################
# OS / System
############################
.DS_Store
Thumbs.db
Desktop.ini

############################
# IDEs / Editors
############################
.idea/
*.iml
*.ipr
*.iws
.vscode/
*.swp
*~

############################
# Secrets (important)
############################
**/.env
**/.env.*
**/*secret*
**/*secrets*
**/*key*
**/*keys*

############################
# Backend (Java / Maven / Spring)
############################
**/target/
**/.classpath
**/.project
**/.settings/
**/.springBeans
**/.mvn/wrapper/maven-wrapper.jar
**/*.log
**/*.bak

############################
# Frontend (Node / Angular)
############################
**/node_modules/
**/dist/
**/.angular/
**/.cache/
**/.parcel-cache/
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*
**/.eslintcache

############################
# Testing / Coverage
############################
**/coverage/
**/.nyc_output/

############################
# Docker (optional)
############################
**/*.pid
