server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/pharmastock_db
    username: pharmastock_user
    password: pharmastock_pass
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true
    locations: classpath:db/migration
    default-schema: public

logging:
  level:
    org.hibernate.SQL: debug

