name: Backend CI

on:
  pull_request:
    branches: [ develop, main ]
  push:
    branches: [ develop, main ]

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:16
        env:
          POSTGRES_DB: pharmastock_db
          POSTGRES_USER: pharmastock_user
          POSTGRES_PASSWORD: pharmastock_pass
        ports:
          - 5432:5432
        options: >-
          --health-cmd="pg_isready -U pharmastock_user -d pharmastock_db"
          --health-interval=5s
          --health-timeout=3s
          --health-retries=10

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 21
          # cache: maven

        #- name: Make mvnw executable
        # working-directory: backend
        # run: chmod +x mvnw

      - name: Run tests (backend)
        working-directory: backend
        env:
          SPRING_DATASOURCE_URL: jdbc:postgresql://localhost:5432/pharmastock_db
          SPRING_DATASOURCE_USERNAME: pharmastock_user
          SPRING_DATASOURCE_PASSWORD: pharmastock_pass
        run: mvn -B clean verify

